.home {
  height: 100%;
  padding-top: 45vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url(../img/model-1.jpeg) center top;
  background-size: cover;

  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;

    border-bottom: 1px solid set-text-color($primary-color);
    margin-bottom: 1rem;

    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
